.all_nav_tabs {
  display: flex;
  flex-direction: row;
  padding: 4px;
  justify-content: center;
  align-items: center;
  gap: 2px;
  align-self: stretch;
  max-width: 30%;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  background: #f7f7f7;
  margin-top: 10px;
}

.nav_tabs {
  list-style: none;
  display: flex;
  padding: 8px 14px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 6px;
  flex-grow: 1;
  cursor: pointer;
  
}

.tab {
  color: #000;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width:100%
}

.active_tab {
  color: #fff;
  background: #3425ff;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.25);
}
